* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}
      .header {
      background-color: rgb(0, 0, 0);
      padding: 20px;
      text-align: center;
      }

     body{
        background-color: white;
        padding: 20px;
        margin: 0;
     }

     p{
        color: black;
     }

     img{
    line-height: 20px; 
    margin: 0 auto;
    float: right;
}   
 a:link, a:visited{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 }
 a:hover, a:active {
  background-color: black;
  color: white;
}
h1{
    color: white;
}
p{
    border: 2px solid black;
    color: black;

}