
* {
  font-family:"Audiowide", sans-serif;
  box-sizing: border-box;
}
      .header {
      background: url(https://images.pexels.com/photos/261986/pexels-photo-261986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      padding: 255px;
      text-align: center;
      font-size: 30px;

      }

     body{
      background-color: rgb(0, 0, 0);
      margin: 0;
      
     }

     p{
      border: 2px solid black;
        color: rgb(255, 255, 255);
     }
     p3{
      color: white;
    }
h1{
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    
}
h2{
  color: white;
}
h3{
  color: rgb(0, 0, 0);
}
h4{
  color: white;
}
ul{
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  float: left;

}
li{
  float: left;
}
li a{
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px 214.6px;
  text-decoration: none;
}
li a:hover{
  background-color: rgb(80, 80, 80);
}
div.gallery {
border: 1px solid #ccc;
color: white;
}
div.gallery:hover {
  border: 1px solid #777;

}
div.gallery img{
  width: 100%;
  height: auto;
}
div.desc {
  padding: 13px;
  text-align: center;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
}
.column {
  float: right;
  width: 33.33%;
  padding: 20px;

}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.box{

  margin-bottom: 0px;
  border: solid rgb(255, 255, 255);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  
  
}
.container-img{
  align-items:center;
  justify-content: left;
  display: flex;
  clear: both;
  gap: 100px;
  p2{
    width: 45%;
    color: black;
    font-size: 20px;
  }
  img{
    border-radius: 50%;
  }
}

div.layout{
img{
  width: auto;
  height: auto;
  float: inline-start;
  border-radius: 5%;
  box-shadow: #ccc;
}
}

.column-text{
  float: inline-start;
  width: 33.33%;
  padding: 20px;

}
