.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  background: url(https://images.pexels.com/photos/261986/pexels-photo-261986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 150px;
  text-align: center;
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  }

 body{
  background-color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
 }

 p{
  font-size: 23px;
 }

 h5{
  font-size: 30px;
  color: black;
 }
 a{
  font-size: x-large;
 }