* {
  font-family: 'Courie r New', Courier, monospace;
}
      .header {
      background-color: rgb(40, 87, 42);
      padding: 20px;
      text-align: center;
      }
     body{
        background-color: rgb(76, 150, 81);
        padding: 20px;
     }
      img{
      vertical-align: auto;
      }
